@import url("https://fonts.googleapis.com/css?family=Quicksand:400,500|Roboto:300,400");
:root {
  --svg-shadow: .5rem .5rem 1rem rgba(0, 0, 0, .6);
  --boxes-shadow: 1rem 1rem 1.5rem rgba(0, 0, 0, .8);
  --spacer-50: 5rem; }

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

html {
  min-width: 38rem;
  height: 100%;
  font-size: 62.5%;
  scroll-behavior: smooth; }
  @media (max-width: 50em) {
    html {
      font-size: 55%; } }

body {
  min-width: 38rem;
  margin: 0 auto;
  font-family: "Roboto", sans-serif;
  line-height: 1.4;
  font-size: 1.6rem;
  padding: 30px; }
  @media (max-width: 50rem) {
    body {
      padding: 0; } }

.bg-loading *,
.bg-loading *:before,
.bg-loading *:after {
  animation-play-state: paused !important; }

.container {
  display: grid;
  grid-template-columns: [full-start] 1fr [grid-start] repeat(12, [col-start] minmax(min-content, 10rem) [col-end]) [grid-end] 1fr [full-end];
  grid-template-rows: 80vh max-content minmax(70vh, 1fr) max-content 75vh; }

/**============================================================================
				TYPOGRAPHY STYLES 
=============================================================================*/
.home-lead {
  font-size: 4.6rem;
  font-weight: 300; }

.section-title {
  display: inline-block;
  font-size: 4rem;
  font-family: Roboto, sans-serif;
  font-weight: 400;
  letter-spacing: .5rem; }
  .section-title__wrapper {
    max-width: 120rem;
    margin: 0 auto; }

.card-title {
  color: #3ca0bf;
  letter-spacing: 1px;
  font-family: Lato, sans-serif;
  text-transform: uppercase; }

.code-tag {
  display: inline-block;
  color: white;
  font-size: 1.2rem;
  padding: 5px;
  border: 1px solid #3ca0bf; }
  .code-tag:not(:last-of-type) {
    margin-right: .5rem; }

.two-column-paragraph {
  column-count: 2;
  column-gap: 2rem;
  text-indent: 2em;
  line-height: 1.6; }

@keyframes fade-in-left {
  0% {
    opacity: 0;
    transform: translateX(-50rem); }
  80% {
    transform: translateX(2rem); }
  100% {
    opacity: 1;
    transform: translateX(0); } }

@keyframes fade-in-right {
  0% {
    opacity: 0;
    transform: translateX(50rem); }
  80% {
    transform: translateX(-2rem); }
  100% {
    opacity: 1;
    transform: translateX(0); } }

@keyframes slide-up {
  0% {
    opacity: 0;
    transform: translateY(-2rem); }
  50% {
    opacity: .5; }
  100% {
    opacity: 1;
    transform: translateY(0); } }

/**============================================================================
				HOME SECTION STYLES
=============================================================================*/
.home {
  padding: 2rem;
  background: url("../img/hero-dark1-bg.png") no-repeat center center/cover;
  color: white;
  position: relative;
  overflow-x: hidden;
  grid-column: full-start / full-end; }
  .home__header {
    max-width: 120rem;
    margin: 0 auto;
    height: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    overflow: hidden; }
  .home__mobile-nav {
    display: none;
    width: 5rem;
    height: 5rem;
    outline: none;
    border: none;
    background-color: transparent;
    z-index: 15; }
    .home__mobile-nav:hover .home__mobile-nav--target > span,
    .home__mobile-nav:hover .home__mobile-nav--target > span::before,
    .home__mobile-nav:hover .home__mobile-nav--target > span::after {
      width: 5rem;
      background: #3ca0bf; }
    @media (max-width: 50em) {
      .home__mobile-nav {
        display: block; } }
    .home__mobile-nav--target {
      width: 5rem;
      height: 5rem;
      background: transparent;
      display: flex;
      flex-direction: column;
      justify-content: center;
      cursor: pointer; }
    .home__mobile-nav span,
    .home__mobile-nav span::before,
    .home__mobile-nav span::after {
      display: block;
      content: "";
      height: 3px;
      background-color: white;
      transition: all .4s ease-in-out; }
    .home__mobile-nav span {
      width: 2.5rem; }
    .home__mobile-nav span::before {
      width: 5rem;
      position: relative;
      bottom: 1.4rem; }
    .home__mobile-nav span::after {
      width: 4rem;
      position: relative;
      top: 1rem; }
    .home__mobile-nav--checkbox {
      display: none;
      width: 5rem;
      height: 5rem; }
      .home__mobile-nav--checkbox:checked ~ .home__mobile-nav--target span,
      .home__mobile-nav--checkbox:checked ~ .home__mobile-nav--target span::after,
      .home__mobile-nav--checkbox:checked ~ .home__mobile-nav--target span::before {
        width: 5rem;
        background-color: #3ca0bf;
        transform-origin: center; }
      .home__mobile-nav--checkbox:checked ~ .home__mobile-nav--target span {
        background: transparent;
        transform: rotate(-180deg);
        transition: transform .4s ease .5s; }
      .home__mobile-nav--checkbox:checked ~ .home__mobile-nav--target span::after {
        top: -3px;
        transform: rotate(135deg); }
      .home__mobile-nav--checkbox:checked ~ .home__mobile-nav--target span::before {
        bottom: 0px;
        transform: rotate(-135deg); }
  .home__mobile-nav-list li {
    text-align: center;
    list-style: none;
    margin-right: 0; }
  @media (max-width: 50em) {
    .home__nav {
      display: none; } }
  .home__nav ul {
    display: flex; }
  .home__nav ul li {
    list-style: none; }
  .home__link:link, .home__link:visited {
    padding: 2px;
    display: inline-block;
    text-transform: uppercase;
    text-decoration: none;
    color: white;
    transition: all .15s ease-in; }
    .home__link:link:hover, .home__link:visited:hover {
      background-color: rgba(51, 51, 51, 0.95);
      color: #3ca0bf;
      box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.5);
      transform: skewY(5deg) scale(1.1); }
  .home__nav-items:not(:last-child) {
    margin-right: 2rem; }
  .home__name {
    font-size: 3rem;
    font-weight: 300; }
  .home__text-box {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center; }
  .home__main {
    display: block;
    font-weight: bold;
    font-size: 5rem;
    color: #3ca0bf;
    letter-spacing: 1rem;
    text-transform: uppercase;
    animation: fade-in-left 1s ease-out; }
    @media (max-width: 56.25em) {
      .home__main {
        font-size: 3.5rem; } }
  .home__sub {
    display: inline-block;
    letter-spacing: .5rem;
    font-size: 3rem;
    text-transform: uppercase;
    animation: fade-in-right 1s ease-out; }
    @media (max-width: 56.25em) {
      .home__sub {
        font-size: 2rem; } }
  .home__down-arrow-target {
    width: auto;
    height: auto;
    position: absolute;
    bottom: 2rem;
    left: 50%;
    transform: translateX(-50%) rotate(180deg); }
    .home__down-arrow-target svg {
      width: 35px;
      height: 35px;
      fill: #3ca0bf;
      cursor: pointer;
      animation: slide-up .4s ease-in 1s backwards; }
      .home__down-arrow-target svg:hover {
        transform: translateY(2px) scale(1.01);
        transition: transform .2s ease-in-out; }

.mobile-nav {
  height: 50%; }
  .mobile-nav__list {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly; }
  .mobile-nav li {
    list-style: none;
    text-align: center;
    margin-bottom: 2rem; }
  .mobile-nav__link:link, .mobile-nav__link:visited {
    padding: 2px;
    display: inline-block;
    text-transform: uppercase;
    text-decoration: none;
    background-color: rgba(51, 51, 51, 0.95);
    box-shadow: 2px 2px 4px 1px rgba(0, 0, 0, 0.5);
    color: #3ca0bf;
    transition: all .15s ease-in;
    width: 10rem; }
    .mobile-nav__link:link:hover, .mobile-nav__link:visited:hover {
      background-color: rgba(51, 51, 51, 0.95);
      color: #3ca0bf;
      box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.5);
      transform: skewY(5deg) scale(1.1); }

.toggle-backdrop.backdrop {
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  background: transparent;
  width: 60%;
  height: 100vh;
  z-index: 10; }

.toggle-backdrop {
  display: none; }

.side-drawer {
  width: 40%;
  max-width: 40rem;
  min-width: 20rem;
  height: 100vh;
  color: black;
  margin-left: 2px;
  background-color: #6f7e80;
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  right: 0;
  top: 0;
  transform: translateX(101%);
  transition: transform .4s ease-in-out;
  z-index: 2; }

.side-drawer-toggle {
  height: 100%;
  width: 100%;
  background-color: transparent;
  display: block;
  cursor: pointer; }

.side-drawer.open {
  box-shadow: 0px 0px 4px 1px rgba(0, 0, 0, 0.7);
  transform: translateX(0%);
  transition-delay: .5s; }
  @media (min-width: 50em) {
    .side-drawer.open {
      transition: none;
      transition-delay: 0;
      transform: translateX(101%); } }

/**============================================================================
				ABOUT SECTION STYLES
=============================================================================*/
.about {
  font-family: "Quicksand", sans-serif;
  padding: 10rem 2rem;
  background: linear-gradient(to right, #1ee8cd, #12d8fa, #1fa2ff);
  grid-column: full / full; }
  .about__heading {
    padding: 0 0 10rem 0; }
  .about__container {
    max-width: 100rem;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(4, minmax(15rem, 1fr)) auto;
    grid-gap: 3rem;
    backface-visibility: hidden; }
    @media (max-width: 56.25em) {
      .about__container {
        grid-template-columns: 1fr;
        grid-template-rows: repeat(7, 10rem) 12rem; } }
  .about__main-card {
    grid-column: 1 / 3;
    grid-row: 1 / 3;
    background: #1c1c1c;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    box-shadow: 0.5rem 1rem 1.5rem rgba(0, 0, 0, 0.8); }
    .about__main-card h1 a {
      transition: all .2s ease-in-out; }
    .about__main-card:hover > .about__main-card--name a {
      color: #3ca0bf; }
    @media (max-width: 56.25em) {
      .about__main-card {
        grid-column: 1 / 2;
        grid-row: 1 / 3; } }
    .about__main-card--name {
      color: #3ca0bf;
      font-size: 4rem;
      font-weight: normal;
      text-align: center;
      padding-bottom: 3rem;
      position: relative; }
      .about__main-card--name a, .about__main-card--name:link, .about__main-card--name:visited {
        display: inline-block;
        color: white;
        text-decoration: none; }
        .about__main-card--name a:hover, .about__main-card--name:link:hover, .about__main-card--name:visited:hover {
          padding: 2px;
          background-color: rgba(51, 51, 51, 0.9);
          color: #3ca0bf;
          box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.5);
          transform: scale(1.1); }
    .about__main-card--name::after {
      content: "";
      display: block;
      width: 6rem;
      height: 2px;
      background: #7e7878;
      position: absolute;
      bottom: 0;
      left: 50%;
      transform: translateX(-50%); }
    .about__main-card--title {
      font-size: 2rem;
      color: #7e7878;
      padding-top: 3rem;
      text-align: center; }
  .about__subheading-card {
    background: #1c1c1c;
    grid-column: 3 / 5;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0.5rem 1rem 1.5rem rgba(0, 0, 0, 0.8); }
    .about__subheading-card div p {
      transition: all .2s ease-in-out; }
    .about__subheading-card:hover > .about__subheading-card--container > .about__subheading-card--text {
      color: #3ca0bf; }
    .about__subheading-card--container {
      display: inline-block;
      width: 32rem; }
    .about__subheading-card--text {
      font-size: 2.5rem;
      color: #7e7878; }
    @media (max-width: 56.25em) {
      .about__subheading-card {
        grid-column: 1 / 2;
        grid-row: 3 / 5; } }
  .about__social-card {
    background: #1c1c1c;
    grid-column: 3 / 5;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0.5rem 1rem 1.5rem rgba(0, 0, 0, 0.8); }
    @media (max-width: 56.25em) {
      .about__social-card {
        grid-column: 1 / 2;
        grid-row: 5 / 7; } }
  .about__icon-wrapper {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-column-gap: 3rem; }
    .about__icon-wrapper > a svg {
      width: 4.5rem;
      height: 4.5rem;
      fill: white; }
  .about__social-card:hover svg {
    fill: #3ca0bf; }
  .about__icon--linkden-svg, .about__icon--facebook-svg, .about__icon--email-svg, .about__icon--codepen-svg, .about__icon--github-svg {
    transition: all .2s ease-in; }
    .about__icon--linkden-svg:hover, .about__icon--facebook-svg:hover, .about__icon--email-svg:hover, .about__icon--codepen-svg:hover, .about__icon--github-svg:hover {
      transform: scale(1.2); }
  .about__icon--close {
    width: 3.5rem;
    height: 3.5rem;
    fill: white;
    transition: all .2s ease-in; }
    .about__icon--close:hover {
      fill: #3ca0bf; }
  .about__img-wrapper {
    width: calc(100% - 1rem);
    display: flex;
    align-items: center;
    outline-offset: 1.5rem #3ca0bf;
    align-self: center; }
    @media (max-width: 56.25em) {
      .about__img-wrapper {
        width: 100%;
        height: 100%;
        grid-row: 1/3;
        grid-column: 1/2;
        margin: 0 auto; } }
  .about__img-container {
    width: 80%;
    height: 80%;
    margin: 0 auto;
    overflow: hidden; }
    @media (max-width: 56.25em) {
      .about__img-container {
        width: 100%;
        height: 100%; } }
    .about__img-container img {
      display: block;
      max-width: 100%;
      color: white;
      object-fit: cover;
      transition: transform .3s ease; }
      .about__img-container img:hover {
        transform: scale(1.2);
        box-shadow: 0 2.5rem 4rem rgba(0, 0, 0, 0.5);
        z-index: 20; }
        @media (max-width: 56.25em) {
          .about__img-container img:hover {
            transform: none; } }
      @media (max-width: 56.25em) {
        .about__img-container img {
          min-width: 100%;
          height: 100%;
          margin: 0 auto; } }
  .about__intro span {
    color: #3ca0bf; }
  .about__image-card {
    background: #1c1c1c;
    grid-column: 1 / 5;
    grid-row: 3 / 5;
    display: grid;
    grid-template-columns: 1fr 1fr;
    box-shadow: 0.5rem 1rem 1.5rem rgba(0, 0, 0, 0.8);
    overflow: hidden;
    transition: color .2s ease-in-out; }
    .about__image-card:hover a {
      color: #3ca0bf; }
    @media (max-width: 56.25em) {
      .about__image-card {
        grid-column: 1 / 2;
        grid-row: 7 / 9;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr; } }
  .about__button-wrapper {
    width: calc(100% - 1rem);
    display: flex;
    justify-content: center;
    align-items: center; }
    @media (max-width: 56.25em) {
      .about__button-wrapper {
        width: 100%;
        grid-column: 1 / 2;
        grid-row: 1 / 2; } }
    .about__button-wrapper a:hover,
    .about__button-wrapper a:hover span {
      color: white; }
    .about__button-wrapper > a:not(:last-of-type) {
      margin-right: 6rem; }
  .about__about-card {
    height: auto;
    padding: 2rem;
    grid-column: 1 / -1;
    background: #1c1c1c;
    transform: scaleY(1);
    transform-origin: top;
    transition: all .3s ease-in;
    box-shadow: 0.5rem 1rem 1.5rem rgba(0, 0, 0, 0.8); }
    .about__about-card:hover > .about__header-wrapper > .about__header,
    .about__about-card:hover > .about__footer {
      transition: color .4s ease-in-out;
      color: #3ca0bf; }
  .about__about-card.closed {
    height: 0;
    transform: scaleY(0); }
  .about__header-wrapper {
    height: 5rem;
    padding-bottom: 2rem;
    display: flex;
    justify-content: space-between;
    align-items: center; }
  .about__header {
    font-size: 2.5rem;
    color: white; }
    .about__header--close a {
      cursor: pointer; }
  .about__content {
    width: 100%;
    color: #7e7878; }
  .about__footer {
    text-transform: uppercase;
    text-align: right;
    color: white;
    padding-top: 2rem; }

/**============================================================================
				PRACTICES SECTION STYLES
=============================================================================*/
.practices {
  background-color: #1c1c1c;
  grid-column: full / full;
  padding: 2rem;
  display: flex;
  align-content: center;
  justify-content: center; }
  .practices__wrapper {
    max-width: 120rem;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(3, minmax(25rem, 40rem));
    grid-template-rows: min-content;
    align-content: center; }
    @media all and (max-width: 60.62rem) {
      .practices__wrapper {
        grid-template-columns: 1fr;
        margin: 10rem 0; } }
  .practices__text-group {
    max-width: 40rem;
    padding: 1rem;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(2, max-content) 1fr;
    grid-row-gap: 2rem; }
    @media all and (max-width: 56.25em) {
      .practices__text-group {
        max-width: 80%;
        margin: 0 auto; } }
  .practices__title {
    text-transform: uppercase;
    color: #3ca0bf;
    font-size: 2rem;
    letter-spacing: 3px;
    text-align: center; }
  .practices__message {
    color: #a7a7a7;
    font-size: 1.5rem;
    line-height: 1.7;
    text-align: center; }
    @media all and (max-width: 56.25em) {
      .practices__message {
        max-width: 40rem;
        margin: 0 auto; } }
  .practices__responsive-svg, .practices__atom-svg, .practices__lightbulb-svg {
    fill: #3ca0bf;
    width: 7rem;
    height: 7rem;
    margin: 0 auto; }

/**=========================================================================
				PROJECT SECTION STYLES
	=========================================================================**/
.projects {
  background-image: linear-gradient(to right bottom, #ad5389, #3c1053);
  grid-column: full-start / full-end;
  padding: 10rem 2rem;
  /**=========================================================================
				DESKTOP CARD STYLES
	=========================================================================**/
  /**=========================================================================
				MOBILE CARD STYLES
	=========================================================================**/ }
  .projects__heading {
    padding: 0 0 10rem 0; }
  .projects__grid-container {
    max-width: 120rem;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 2rem; }
    @media (max-width: 81.25em) {
      .projects__grid-container {
        max-width: 100rem;
        grid-template-columns: 1fr 1fr; } }
    @media (max-width: 50em) {
      .projects__grid-container {
        grid-template-columns: 1fr; } }
  .projects__card {
    max-width: 45rem;
    min-height: 60rem;
    color: #a7a7a7;
    background: #1d1d1d;
    border-radius: 3px;
    margin: 0 auto;
    transition: max-width .3s ease-in-out, min-height .3s ease-in-out, box-shadow .2s ease-in-out;
    box-shadow: 0rem 0.5rem 1rem rgba(0, 0, 0, 0.7);
    display: flex;
    flex-direction: column; }
    .projects__card:hover {
      box-shadow: 0rem 1rem 2rem rgba(0, 0, 0, 0.7); }
  .projects__card-upper {
    width: 100%;
    height: 25rem; }
    @media (max-width: 50em) {
      .projects__card-upper {
        height: auto; } }
    .projects__card-upper img {
      width: 100%;
      height: auto; }
      @media (min-width: 50em) {
        .projects__card-upper img {
          object-fit: cover;
          height: 100%; } }
  .projects__mobile-img {
    display: none; }
    @media (max-width: 50em) {
      .projects__mobile-img {
        display: block; } }
  .projects__desktop-img {
    display: block; }
    @media (max-width: 50em) {
      .projects__desktop-img {
        display: none; } }
  .projects__card-container {
    padding: 1rem;
    height: 100%;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto 1fr min-content; }
  .projects__card-body {
    flex-grow: 1; }
  .projects__title {
    font-weight: 500;
    font-size: 3rem;
    padding: 1rem 0; }
    @media (max-width: 62.5em) {
      .projects__title {
        font-size: 2.5rem; } }
  .projects__card-text {
    flex-grow: 1;
    font-size: 1.8rem; }
  .projects__card-footer {
    height: 6rem;
    background: #2c2c2c;
    padding: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom-right-radius: 3px;
    border-bottom-left-radius: 3px; }
  .projects__tags {
    display: flex;
    flex-wrap: wrap; }
  .projects__tags p {
    padding: 4px;
    margin: 0; }

/**============================================================================
				CONTACT SECTION STYLES
=============================================================================*/
.contact {
  background: url("../img/apple-devices.png") no-repeat center center/cover;
  grid-column: full-start / full-end;
  position: relative;
  padding: 10rem 2rem 2rem 2rem; }
  .contact::before {
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background: rgba(51, 51, 51, 0.94); }
  .contact__heading {
    color: #c9c9c9;
    position: relative; }
  .contact__container {
    width: 100%;
    height: 100%;
    backface-visibility: hidden; }
    .contact__container .contact__icon--up-arrow {
      fill: white; }
  .contact__container-lower {
    width: 100%;
    max-width: 124rem;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between; }
    @media (max-width: 50em) {
      .contact__container-lower {
        margin-top: 2rem;
        line-height: 3;
        flex-direction: column; } }
  .contact__icon-wrapper {
    width: 55%;
    max-width: 60rem;
    min-width: 35rem;
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin: 0 auto;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); }
    .contact__icon-wrapper a svg {
      width: 4.5rem;
      height: 4.5rem;
      fill: white;
      transition: all .2s ease-in; }
      .contact__icon-wrapper a svg:hover {
        transform: scale(1.1);
        fill: #3ca0bf; }
  .contact__navlink, .contact:visited, .contact:link {
    display: inline-block;
    color: #ffffff;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 1.6rem;
    transition: all .15s ease-in; }
    @media (max-width: 50em) {
      .contact__navlink, .contact:visited, .contact:link {
        display: initial; } }
    .contact__navlink:hover, .contact:visited:hover, .contact:link:hover {
      background-color: rgba(51, 51, 51, 0.95);
      color: #3ca0bf;
      box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2);
      transform: skewY(5deg) scale(1.1); }
      @media (max-width: 50em) {
        .contact__navlink:hover, .contact:visited:hover, .contact:link:hover {
          transform: none;
          box-shadow: none;
          padding: none;
          margin: none;
          background: none; } }
  @media all and (max-width: 50em) {
    .contact__contact-nav {
      margin: 0 auto; } }
  .contact__nav-items {
    display: inline-block; }
  .contact__nav-items:not(:last-of-type) {
    margin-right: 2rem; }
  .contact__link {
    display: grid;
    grid-template-columns: 1fr max-content 1fr;
    grid-gap: 2rem; }
    .contact__link::before, .contact__link::after {
      content: "";
      display: block;
      height: 2px;
      background-color: white;
      align-self: center; }
  .contact__icon--up-arrow {
    fill: #c9c9c9;
    width: 3.5rem;
    height: 3.5rem;
    grid-column: 2 / 3;
    transition: all .2s ease; }
    .contact__icon--up-arrow:hover {
      transform: translateY(-3px);
      fill: #3ca0bf; }
  .contact__copywrite {
    color: #c9c9c9;
    font-size: 1.8rem; }
    @media (max-width: 50em) {
      .contact__copywrite {
        margin: 0 auto; } }
    .contact__copywrite > a {
      display: inline-block;
      text-decoration: none;
      font-size: 2rem;
      color: white;
      cursor: pointer;
      transition: all .15s ease-in; }
      .contact__copywrite > a:hover {
        color: #3ca0bf;
        box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2);
        transform: skewY(5deg) scale(1.1); }
        @media (max-width: 50em) {
          .contact__copywrite > a:hover {
            transform: none;
            box-shadow: none;
            background: none; } }
  .contact__name-spacing-left {
    padding-left: 4px; }
  .contact__name-spacing-right {
    padding-right: 4px; }
  .contact__footer {
    width: 100%;
    position: absolute;
    bottom: 2rem;
    right: 0;
    padding: 0 2rem; }

/**============================================================================
				BUTTON STYLES
=============================================================================*/
.button {
  width: 12rem;
  font-size: 1.8rem;
  border: none;
  outline: none;
  background: transparent;
  padding: 1rem;
  cursor: pointer; }
  .button--contact, .button--project {
    width: auto;
    display: inline-block;
    text-decoration: none;
    font-size: 2.2rem;
    color: #7e7878;
    transition: .3s ease-in; }
    .button--contact:hover, .button--project:hover {
      box-shadow: 0 3px 1rem rgba(0, 0, 0, 0.6); }
    @media (max-width: 56.25em) {
      .button--contact, .button--project {
        color: white; } }
  .button--contact, .button--project {
    position: relative;
    z-index: 1; }
  .button--contact::after, .button--project::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    background: #3ca0bf;
    transform: scaleY(0);
    transform-origin: bottom;
    transition: transform .3s ease-in;
    z-index: -1; }
  .button--contact:hover::after, .button--project:hover::after {
    transform: scaleY(1); }
  .button--contact span, .button--project span {
    color: #3ca0bf;
    transition: color .3s ease-in; }
  .button--view-code, .button--view-live {
    text-transform: uppercase;
    color: white; }
  .button--view-code {
    width: 100%;
    background-color: #3ca0bf;
    margin-bottom: 1rem; }
  .button--view-live {
    width: 100%;
    background-color: #dc1f3a; }
