*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%;
  box-sizing: border-box; }

body {
  font-family: "Roboto", sans-serif;
  font-weight: medium;
  font-size: 1.6rem; }

.container {
  display: grid;
  grid-template-rows: repeat(2, 80vh) minmax(80vh, max-content) repeat(2, min-content);
  grid-template-columns: [full-start] 1fr [grid-start] repeat(12, [col-start] minmax(min-content, 10rem) [col-end]) [grid-end] 1fr [full-end]; }

.button {
  width: 12rem;
  font-size: 1.8rem;
  border: none;
  outline: none;
  background: transparent;
  padding: 1rem;
  cursor: pointer; }

.home-lead {
  font-size: 4.6rem;
  font-weight: 300; }

.section-title {
  font-size: 4rem;
  font-weight: 400; }

.code-tag {
  display: inline;
  color: white;
  font-size: 1.2rem;
  padding: 5px;
  border: 1px solid #DC1F3A; }

.home {
  padding: 4rem;
  background: url("../img/hero1-bg.png") no-repeat center/cover;
  color: white;
  position: relative;
  grid-column: full-start / full-end; }
  .home__header {
    max-width: 120rem;
    margin: 0 auto;
    height: auto;
    display: flex;
    justify-content: space-between;
    align-items: center; }
  .home__nav ul {
    display: flex; }
  .home__nav ul li {
    list-style: none; }
  .home__link:link, .home__link:visited {
    text-decoration: none;
    color: white; }
  .home__nav-items:not(:last-child) {
    margin-right: 2rem; }
  .home__name {
    font-size: 3rem; }
  .home__lead {
    width: 45rem;
    font-weight: normal;
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); }
  .home__down-arrow-target {
    width: 5rem;
    height: 5rem;
    position: absolute;
    bottom: 5rem;
    left: 50%;
    transform: translateX(-50%); }
  .home__down-arrow, .home__down-arrow::before {
    display: block;
    width: 5rem;
    height: 3px;
    background: #DC1F3A;
    position: relative;
    top: 50%; }
  .home__down-arrow::before {
    content: "";
    top: 1rem; }

.about {
  font-family: "Quicksand", sans-serif;
  padding: 10rem 0;
  background: linear-gradient(to right, #33C9F8, #1C6C84);
  grid-column: full-start / full-end; }
  .about__card {
    max-width: 80rem;
    height: 50rem;
    margin: 0 auto;
    background: #1C1C1C;
    color: #7E7878;
    position: relative;
    box-shadow: 0px 1rem 3rem 0rem rgba(0, 0, 0, 0.9); }

.card__upper {
  height: 80%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 1fr; }
  .card__upper--left {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center; }
  .card__upper--right {
    height: 100%;
    grid-column: 2 / -1;
    display: grid;
    grid-template-rows: 1fr min-content 1fr; }
  .card__upper--container {
    grid-row: 2 / 3;
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 1rem; }

.card__heading {
  color: white;
  justify-self: center;
  align-self: center; }

.card__profile-holder {
  max-width: 20rem;
  border: 4px solid grey;
  overflow: hidden; }
  .card__profile-holder img {
    display: block;
    width: 100%;
    object-fit: cover; }

.card__title {
  justify-self: end;
  font-size: 2rem;
  color: #3CA0BF; }

.card__footer {
  width: 100%;
  height: 20%;
  background: #2D2D2D;
  position: absolute;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center; }

.card__icon-wrapper {
  width: 50%;
  display: grid;
  grid-template-columns: repeat(5, min-content);
  grid-column-gap: 3rem;
  justify-content: center; }
  .card__icon-wrapper > a svg {
    width: 5rem;
    height: 5rem;
    fill: white; }

.card__intro, .card__message {
  width: 40rem;
  justify-self: center;
  align-self: center;
  font-size: 2.5rem;
  margin: 0 auto; }

.card__message {
  padding-top: 2rem; }

.card__intro span {
  color: #3CA0BF; }

.card__button-wrapper {
  width: 40rem;
  margin: 0 auto; }

.card__button--contact {
  text-decoration: underline;
  color: #7E7878; }
  .card__button--contact span {
    color: #3CA0BF; }

.card__button--project {
  text-decoration: underline;
  color: #7E7878; }
  .card__button--project span {
    color: #DC1F3A; }

.practices {
  background-color: #1C1C1C;
  grid-column: full-start / full-end; }
  .practices__container {
    max-width: 65%;
    margin: 0 auto;
    height: 100%;
    grid-column: grid-start / grid-end;
    padding: 10rem 0;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
    grid-gap: 2rem; }
  .practices__text-group {
    width: 100%;
    justify-self: center;
    align-self: center;
    text-align: center;
    display: grid;
    grid-template-columns: 1fr;
    grid-row-gap: 2rem; }
  .practices__title {
    color: #3CA0BF;
    font-size: 2.5rem; }
  .practices__message {
    color: #7E7878;
    font-size: 1.6rem; }
  .practices__responsive-svg, .practices__atom-svg, .practices__lightbulb-svg {
    fill: #3CA0BF;
    width: 7.5rem;
    height: 7.5rem;
    margin: 0 auto; }

.projects {
  background-color: #FFFFFF;
  grid-column: full-start / full-end; }
  .projects__container {
    max-width: 120rem;
    margin: 10rem auto;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-column-gap: 2rem;
    grid-row-gap: 4rem;
    justify-items: center;
    align-items: center; }
  .projects__box {
    display: inline-block;
    width: 45rem;
    height: 48rem;
    background: #3B3E3D;
    border-radius: 1rem;
    padding: 4rem;
    box-shadow: 0px 1rem 2rem 2px rgba(0, 0, 0, 0.7);
    display: grid;
    grid-row-gap: 2rem; }
  .projects__heading {
    max-width: 120rem;
    margin: 10rem auto;
    font-size: 4rem;
    letter-spacing: .5rem; }
  .projects img {
    max-width: 100%;
    align-self: center;
    justify-self: center; }
  .projects__box-text {
    color: #A7A7A7;
    text-align: justify;
    font-size: 2rem;
    width: 30rem;
    margin: 0 auto; }
  .projects__tags {
    align-self: center;
    justify-self: center; }

.contact {
  background-color: greenyellow;
  grid-column: full-start / full-end; }
