@keyframes fade-in-left {
	0% {
		opacity: 0;
		transform: translateX(-50rem);
	}
	80% {
		transform: translateX(1rem);
	}
	100% {
		opacity: 1;
		transform: translateX(0);
	}
}

@keyframes fade-in-right {
	0% {
		opacity: 0;
		transform: translateX(50rem);
	}
	80% {
		transform: translateX(-1rem);
	}
	100% {
		opacity: 1;
		transform: translateX(0);
	}
}

@keyframes slide-up {
	0% {
		opacity: 0;
		transform: translateY(-2rem);
	}
	50% {
		opacity: .5;
	}
	100% {
		opacity: 1;
		transform: translateY(0);
	}
}
