.about {
    font-family: $font-primary;
    padding: 10rem 0;
    background: linear-gradient(to right, $color-light-blue, $color-dark-blue);

    grid-column: full-start / full-end;

    &__card {
        max-width: 80rem;
        height: 50rem;
        margin: 0 auto;
        background: $color-grey-dark;
        color: $color-grey-text;
        position: relative;
        box-shadow: 0px 1rem 3rem 0rem rgba(0, 0, 0, .9);
    }
}



.card {

    &__upper {
        height: 80%;

        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: 1fr;

        &--left {
            height: 100%;
            display: flex;
            flex-direction: column;
            justify-content: space-around; 
            align-items: center;           
        }

        &--right {
            height: 100%;
            grid-column:  2 / -1;

            display: grid;
            grid-template-rows: 1fr min-content 1fr;
        }

        &--container {
            grid-row: 2 / 3;

            display: grid;
            grid-template-columns: 1fr;
            grid-gap: 1rem;
        }
    }

    &__heading {
        color: white;
        justify-self: center;
        align-self: center;
    }

    &__profile-holder {
        max-width: 20rem;
        border: 4px solid grey;
        overflow: hidden;

        & img {
            display: block;
            width: 100%;
            object-fit: cover;
        }
    }

    &__title {
        justify-self: end;
        font-size: 2rem;
        color: $color-flat-blue;
    }

    &__footer {
        width: 100%;
        height: 20%;
        background: $color-grey-light;
        position: absolute;
        bottom: 0;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    &__icon-wrapper {
        width: 50%;
        display: grid;
        grid-template-columns: repeat(5, min-content);
        grid-column-gap: 3rem;
        justify-content: center;

        & > a svg {
            width: 5rem;
            height: 5rem;
            fill: white;
        }
        // &--indeed-svg {}
        // &--facebook-svg {}
        // &--codepen-svg {}
        // &--github-svg {}
        // &--email-svg {}
    }

    &__intro,
    &__message {
        width: 40rem;
        justify-self: center;
        align-self: center;
        font-size: 2.5rem;
        margin: 0 auto;
    } 

    &__message {
        padding-top: 2rem;
    }

    &__intro {

        & span {
            color: $color-flat-blue;
        }
    }

    &__button-wrapper {
        width: 40rem;
        margin: 0 auto;
    }

    &__button {

        &--contact {
            text-decoration: underline;
            color: $color-grey-text;

            & span {
                color: $color-flat-blue;
            }
        }
        &--project {
            text-decoration: underline;
            color: $color-grey-text;

            & span {
                color: $color-flat-red;
            }
        }
    }
}
