.projects {
    background-color: #D1D1D1;
    grid-column: full-start / full-end;

    &__container {
        max-width: 120rem;
        margin: 0rem auto;

        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(20rem, 55rem));
        grid-column-gap: 2rem;
        grid-row-gap: 4rem;
        justify-content: center;
        padding-bottom: 10rem;
    } 

    &__box {
        max-width: 45rem;
        height: 48rem;
        margin: 0 auto;
        background: #3B3E3D;
        border-radius: 1rem;
        padding: 4rem;
        box-shadow: 0px 1rem 2rem 2px rgba(0, 0, 0, 0.7);
        
        display: grid;
        grid-row-gap: 2rem;
    }

    &__heading {
        max-width: 120rem;
        margin: 0 auto;
        padding: 10rem 2rem;
    }

    & img {
        width: 100%;
        align-self: center;
        justify-self: center;
    }

    &__box-text {
        color: #A7A7A7;
        text-align: justify;
        font-size: 2rem;
        width: 30rem;
        margin: 0 auto;
    }

    &__tags {
        align-self: center;
        justify-self: center;
    }
}