.contact {
	background: url('../img/apple-devices.png') no-repeat center center / cover;
	grid-column: full-start / full-end;
	position: relative;

	@media (min-width: 56.25em) {
		padding: 0rem 2rem;
	}

	&::before {
		content: "";
		width: 100%;
		height: 100%;
		position: absolute;
		top: 0;
		left: 0;
		background: rgba(51, 51, 51, .94);
	}

	&__container {
		width: 100%;
		height: 100%;
		max-width: 120rem;
		margin: 0 auto;
		position: relative;
		z-index: 1;

		display: flex;
		flex-direction: column;
		justify-content: space-between;

		& .contact__icon--up-arrow {
			fill: $color-flat-blue;
		}
	}

	&__container-lower {
		width: 100%;
		height: auto;
		display: flex;
		justify-content: space-between;

		@media (max-width: 50em) {
			margin-top: 2rem;
			line-height: 3;
			flex-direction: column;
		}
	}

	&__icon-wrapper {
		max-width: 50rem;
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);

		display: grid;
		grid-template-columns: repeat(5, minmax(5rem, 15rem));
		grid-gap: 2rem;
		align-items: center;
		justify-items: center;

		& a svg {
			fill: white;
			background: none;
			width: 4.5rem;
			height: 4.5rem;
			transition: all .1s ease-in;

			&:hover {
				transform: scale(1.1);
				fill: $color-flat-blue;
			}
		}
	}

	&__navlink,
	&:visited,
	&:link {
		display: inline-block;
		color: $color-white;
		text-decoration: none;
		text-transform: uppercase;
		font-size: 1.6rem;
		transition: all .15s ease-in;

		@media (max-width: 50em) {
			display: initial;
		}

		&:hover {
			background-color: rgba(51, 51, 51, .95);
			color: $color-flat-blue;
			box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2);
			transform: skewY(5deg) scale(1.1);

			@media (max-width: 50em) {
				transform: none;
				box-shadow: none;
				padding: none;
				margin: none;
				background: none;
			}
		}
	}

	&__contact-nav {
		@media all and (max-width: 50em) {
			margin: 0 auto;
		}
	}

	&__nav-items {
		display: inline-block;
	}

	&__nav-items:not(:last-of-type) {
		margin-right: 2rem;
	}

	&__link {
		display: grid;
		grid-template-columns: 1fr max-content 1fr;
		grid-gap: 2rem;

		&::before,
		&::after {
			content: "";
			display: block;
			height: 2px;
			background-color: white;
			align-self: center;
		}
	}

	&__icon {
		&--up-arrow {
			fill: $color-grey-text2;
			width: 3.5rem;
			height: 3.5rem;
			grid-column: 2 / 3;
			transition: all .2s ease;

			&:hover {
				transform: translateY(-3px);
			}
		}
	}

	&__heading {
		padding: 10rem 2rem;

		color: $color-grey-text2;
		font-weight: 300;
	}

	&__copywrite {
		color: $color-grey-text2;
		font-size: 1.8rem;

		@media (max-width: 50em) {
			margin: 0 auto;
		}

		& > a {
			display: inline-block;
			text-decoration: none;
			font-size: 2rem;
			color: white;
			cursor: pointer;
			transition: all .15s ease-in;

			&:hover {
				color: $color-flat-blue;
				box-shadow: 0 1rem 2rem rgba($color-black, 0.2);
				transform: skewY(5deg) scale(1.1);

				@media (max-width: 50em) {
					transform: none;
					box-shadow: none;
					background: none;
				}
			}
		}
	}

	&__footer {
		padding: 2rem;
	}
}
