/**============================================================================
				CONTACT SECTION STYLES
=============================================================================*/

.contact {
	background: url('../img/apple-devices.png') no-repeat center center /
		cover;
	-ms-grid-column: 1;
	-ms-grid-column-span: 14;
	-ms-grid-row: 5;
	-ms-grid-row-span: 1;
	grid-column: full-start / full-end;
	grid-row: 5 / 6;
	position: relative;
	padding: 10rem 2rem 2rem 2rem;

	&::before {
		content: "";
		width: 100%;
		height: 100%;
		position: absolute;
		top: 0;
		left: 0;
		background: rgba(51, 51, 51, .94);
	}

	&__heading {
		color: $color-grey-text2;
		position: relative;
	}

	&__container {
		width: 100%;
		height: 100%;
		backface-visibility: hidden;

		& .contact__icon--up-arrow {
			fill: white;
		}
	}

	&__container-lower {
		width: 100%;
		max-width: 124rem;
		margin: 0 auto;
		display: flex;
		align-items: center;
		justify-content: space-between;

		@media (max-width: 50em) {
			margin-top: 2rem;
			line-height: 3;
			flex-direction: column;
		}
	}

	&__icon-wrapper {
		width: 55%;
		max-width: 60rem;
		min-width: 35rem;
		display: flex;
		align-items: center;
		justify-content: space-around;
		margin: 0 auto;

		@include absoluteCenter;

		& a svg {
			width: 4.5rem;
			height: 4.5rem;
			fill: white;
			transition: all .2s ease-in;

			&:hover {
				transform: scale(1.1);
				fill: $color-flat-blue;
			}
		}
	}

	&__navlink,
	&:visited,
	&:link {
		display: inline-block;
		color: $color-white;
		text-decoration: none;
		text-transform: uppercase;
		font-size: 1.6rem;
		transition: all .15s ease-in;

		@media (max-width: 50em) {
			display: initial;
		}

		&:hover {
			color: $color-flat-blue;
			// box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2);
			// background-color: rgba(51, 51, 51, .95);
			// transform: skewY(5deg) scale(1.1);

			@media (max-width: 50em) {
				transform: none;
				box-shadow: none;
				padding: none;
				margin: none;
				background: none;
			}
		}
	}

	&__contact-nav {
		@media all and (max-width: 50em) {
			margin: 0 auto;
		}
	}

	&__nav-items {
		display: inline-block;
	}

	&__nav-items:not(:last-of-type) {
		margin-right: 2rem;
	}

	&__link-tag {
		@include flexCenter(center, center);
	}

	&__link {
		display: grid;
		grid-template-columns: 1fr max-content 1fr;
		grid-gap: 2rem;

		&::before,
		&::after {
			content: "";
			display: block;
			height: 2px;
			background-color: white;
			align-self: center;
		}
	}

	&__icon {
		&--up-arrow {
			fill: $color-grey-text2;
			width: 3.5rem;
			height: 3.5rem;
			grid-column: 2 / 3;
			transition: all .2s ease;

			&:hover {
				transform: translateY(-3px);
				fill: $color-flat-blue;
			}
		}
	}

	&__copywrite {
		color: $color-grey-text2;
		font-size: 1.8rem;

		@media (max-width: 50em) {
			margin: 0 auto;
		}

		& > a {
			display: inline-block;
			text-decoration: none;
			font-size: 2rem;
			color: white;
			cursor: pointer;
			transition: all .15s ease-in;

			&:hover {
				color: $color-flat-blue;
				// box-shadow: 0 1rem 2rem rgba($color-black, 0.2);
				// transform: skewY(5deg) scale(1.1);

				@media (max-width: 50em) {
					transform: none;
					box-shadow: none;
					background: none;
				}
			}
		}
	}

	&__name-spacing-left {
		padding-left: 4px;
	}

	&__name-spacing-right {
		padding-right: 4px;
	}

	&__footer {
		width: 100%;
		position: absolute;
		bottom: 2rem;
		right: 0;
		padding: 0 2rem;
	}
}
