.practices {
	background-color: $color-grey-dark;
	grid-column: full / full;
	padding: 2rem;
	display: flex;
	align-content: center;
	justify-content: center;

	&__wrapper {
		max-width: 100rem;
		margin: 0 auto;
		display: grid;
		grid-template-columns: repeat(3, minmax(25rem, 40rem));
		grid-gap: 2rem;
		align-content: center;

		@media all and (max-width: 56.25em) {
			grid-template-columns: 1fr;
			margin: 10rem 0;
		}
	}

	&__text-group {
		max-width: 40rem;
		padding: 1rem;
		text-align: center;

		display: grid;
		grid-template-columns: 1fr;
		grid-row-gap: 2rem;

		@media all and (max-width: 56.25em) {
			max-width: 80%;
			margin: 0 auto;
		}
	}

	&__title {
		color: $color-flat-blue;
		font-size: 2.5rem;
		text-align: center;
	}

	&__message {
		color: $color-white;
		font-size: 1.6rem;
		text-align: justify;

		@media all and (max-width: 56.25em) {
			max-width: 40rem;
			margin: 0 auto;
		}
	}

	&__responsive-svg,
	&__atom-svg,
	&__lightbulb-svg {
		fill: $color-flat-blue;
		width: 7rem;
		height: 7rem;
		margin: 0 auto;
	}
}
