/**=========================================================================
				PROJECT SECTION STYLES
	=========================================================================**/
.projects {
	// background-image: linear-gradient(to right bottom, #16bffd, #cb3066);
	background-image: linear-gradient(to right bottom, #ad5389, #3c1053);
	grid-column: full-start / full-end;
	padding: 10rem 2rem;

	&__heading {
		max-width: 120rem;
		margin: 0 auto;
		padding: 0 0 10rem 0;
	}

	& img {
		max-width: 60%;
	}

	/**=========================================================================
				DESKTOP CARD STYLES
	=========================================================================**/

	&__container {
		@media (max-width: 56.25em) {
			display: none;
		}
		max-width: 100rem;
		margin: 0 auto;
	}

	&__desktop-card {
		width: 100%;
		height: 35rem;
		background: #1d1d1d;

		display: grid;
		grid-template-columns: 1fr 2fr;
	}

	&__left-card {
		background-color: lightpink;
	}
	&__right-card {
	}

	/**=========================================================================
				MOBILE CARD STYLES
	=========================================================================**/

	&__mobile-container {
		@media (min-width: 56.25em) {
			display: none;
		}
	}

	&__card {
		max-width: 80%;
		color: #a7a7a7;
		background: #1d1d1d;
		border-radius: 3px;
		margin: 0 auto;
		height: auto;
		transition: max-width .3s ease-out;
		box-shadow: var(--boxes-shadow);

		@media (max-width: 68.75em) {
		}

		@media (max-width: 56.25em) {
			max-width: 85%;
		}

		@media (max-width: 40.63em) {
			max-width: 100%;
		}
	}

	&__card:not(:last-of-type) {
		margin-bottom: 3rem;
	}

	&__card-upper {
		text-align: center;
		padding: 2rem 1rem 1rem 1rem;
	}

	&__card-body {
		padding: 1rem;
	}

	&__card-footer {
		height: 6rem;
		background: #2c2c2c;
		padding: 1rem;

		display: flex;
		justify-content: center;
		align-items: center;
		border-bottom-right-radius: 3px;
		border-bottom-left-radius: 3px;
	}

	&__card-text {
		max-width: 30rem;
		margin: 0 auto;
		text-align: center;
		text-transform: uppercase;
	}

	&__tags {
		display: flex;
		flex-wrap: wrap;
	}

	&__tags p {
		padding: 4px;
		margin: 0;
	}
}
