// :root {
// 	--svg-shadow: .5rem .5rem 1rem rgba(0, 0, 0, .6);
// 	--boxes-shadow: 1rem 1rem 1.5rem rgba(0, 0, 0, .8);
// 	--spacer-50: 5rem;
// }

// *,
// *::before,
// *::after {
// 	margin: 0;
// 	padding: 0;
// 	box-sizing: border-box;
// }

// html {
// 	font-size: 62.5%;
// 	scroll-behavior: smooth;

// 	@media (max-width: 50em) {
// 		font-size: 55%;
// 	}
// }

// body {
// 	height: 100%;
// 	width: 100%;
// 	margin: 0 auto;
// 	font-family: $font-display;
// 	line-height: 1.4;
// 	font-size: 1.6rem;
// 	padding: 30px;

// 	@media (max-width: 106.25rem) {
// 		padding: 0;
// 	}
// }

// .bg-loading *,
// .bg-loading *:before,
// .bg-loading *:after {
// 	animation-play-state: paused !important;
// }

// html,
// body {
// 	@media (max-width: 18.75em) {
// 		width: 300px;
// 	}
// }

// /* autoprefixer grid: autoplace */
// .container {
// 	width: 100%;
// 	height: 100%;
// 	display: grid;
// 	grid-template-columns: 1fr repeat(12, minmax(min-content, 10rem))
// 		1fr;
// 	grid-template-rows: 80vh max-content minmax(70vh, 1fr) max-content
// 		minmax(31.25em, 75vh);
// }

:root {
	--svg-shadow: .5rem .5rem 1rem rgba(0, 0, 0, .6);
	--boxes-shadow: 1rem 1rem 1.5rem rgba(0, 0, 0, .8);
	--spacer-50: 5rem;
}

*,
*::before,
*::after {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html {
	font-size: 62.5%;
	scroll-behavior: smooth;

	@media (max-width: 50em) {
		font-size: 55%;
	}
}

body {
	height: 100%;
	width: 100%;
	margin: 0 auto;
	font-family: $font-display;
	line-height: 1.4;
	font-size: 1.6rem;
	padding: 30px;

	@media (max-width: 106.25rem) {
		padding: 0;
	}
}

.bg-loading *,
.bg-loading *:before,
.bg-loading *:after {
	animation-play-state: paused !important;
}

html,
body {
	@media (max-width: 18.75em) {
		width: 300px;
	}
}

/* autoprefixer grid: autoplace */

.container {
	width: 100%;
	height: 100%;
}

@supports (display: grid) {
	.container {
		display: grid;
		grid-template-columns: 1fr repeat(12, minmax(min-content, 10rem))
			1fr;
		grid-template-rows: 80vh max-content minmax(70vh, 1fr) max-content
			minmax(31.25em, 75vh);
	}
}
