// COLOR VARIABLES
$color-light-blue: #1EE8CD;
$color-med-blue: #12D8FA;
$color-dark-blue: #1FA2FF;

$color-flat-blue: #3CA0BF;
$color-flat-red: #DC1F3A;


$color-grey-light: #2D2D2D;
$color-grey-dark: #1C1C1C;

$color-grey-box: #3B3E3D;
$color-grey-text: #7E7878;
$color-grey-text2: #C9C9C9;
$color-grey-text3: #A7A7A7;
$color-black-text: #161819;

$color-white: #FFFFFF;
$color-black: #000000;

// FONT VARIABLES
$font-primary: 'Quicksand', sans-serif;
$font-display: 'Roboto', sans-serif;

// BOX SHADOWS
$svg-box-shadow: 4px .5rem 1rem rgba(0, 0, 0, .6);
$boxes-box-shadow: .5rem 1rem 1.5rem rgba(0, 0, 0, .8);

:root {
    --svg-shadow: .5rem .5rem 1rem rgba(0, 0, 0, .6);
    --boxes-shadow: 1rem 1rem 1.5rem rgba(0, 0, 0, .8);

    --spacer-50: padding-right: 5rem;
}

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    min-width: 40rem;
    margin: 0 auto;
    font-family: $font-display;
    font-weight: medium;
    line-height: 1.4;
    font-size: 1.6rem;
    padding: 30px;

    @media (max-width: 50rem) {
        padding: 0;
    }
}

.container {
    display: grid;
    grid-template-columns: [full-start] 1fr [grid-start] repeat(12, [col-start] minmax(min-content, 10rem) [col-end]) [grid-end] 1fr [full-end];
    grid-template-rows: 80vh max-content minmax(70vh, 1fr) max-content minmax(80vh, max-content);
}


// BUTTONS 

.button {
    width: 12rem;
    font-size: 1.8rem;
    border: none;
    outline: none;
    background: transparent;
    padding: 1rem;
    cursor: pointer;
}


