@import url('https://fonts.googleapis.com/css?family=Quicksand:400,500|Roboto:300,400');

// COLOR VARIABLES
$color-light-blue: #1ee8cd;
$color-med-blue: #12d8fa;
$color-dark-blue: #1fa2ff;

$color-flat-blue: #3ca0bf;
$color-flat-red: #dc1f3a;

$color-grey-light: #2d2d2d;
$color-grey-dark: #1c1c1c;

$color-grey-box: #3b3e3d;
$color-grey-text: #7e7878;
$color-grey-text2: #c9c9c9;
$color-grey-text3: #a7a7a7;
$color-black-text: #161819;

$color-white: #ffffff;
$color-black: #000000;

// FONT VARIABLES
$font-primary: 'Quicksand', sans-serif;
$font-display: 'Roboto', sans-serif;

// BOX SHADOWS
$svg-box-shadow: 4px .5rem 1rem rgba(0, 0, 0, .6);
$boxes-box-shadow: .5rem 1rem 1.5rem rgba(0, 0, 0, .8);

:root {
	--svg-shadow: .5rem .5rem 1rem rgba(0, 0, 0, .6);
	--boxes-shadow: 1rem 1rem 1.5rem rgba(0, 0, 0, .8);
	--spacer-50: 5rem;
}

*,
*::before,
*::after {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html {
	height: 100%;
	font-size: 62.5%;
	// scroll-behavior: smooth;

	@media (max-width: 50em) {
		font-size: 55%;
	}
}

body {
	margin: 0 auto;
	font-family: $font-display;
	line-height: 1.4;
	font-size: 1.6rem;
	padding: 30px;

	@media (max-width: 62.5rem) {
		padding: 0;
	}
}

.bg-loading *,
.bg-loading *:before,
.bg-loading *:after {
	animation-play-state: paused !important;
}

html,
body {
	@media (max-width: 18.75em) {
		width: 300px;
	}
}

.container {
	display: grid;
	grid-template-columns: [full-start] 1fr [grid-start]
		repeat(12, [col-start] minmax(min-content, 10rem) [col-end])
		[grid-end] 1fr [full-end];
	grid-template-rows: 80vh max-content minmax(70vh, 1fr) max-content
		75vh;
}
